<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Team Crystal</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" [routerLink]="['/poll']" routerLinkActive="router-link-active" aria-hidden="false"
      aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" [routerLink]="['/leave']" routerLinkActive="router-link-active" aria-hidden="false"
      aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div style="margin: 10px;">
  <router-outlet></router-outlet>
</div>